/* font section */
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#banner {
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");

  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
#banner .banner-content {
  width: 632px;

  /* margin: 0 auto; */
}
#banner .banner-content .subtittle {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
#banner .banner-content .tittle {
  font-size: 72px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.happy {
  width: 802.9px;
  margin: 120px auto;
}
.happy h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}
.happy p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}
.happy h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 48px;
}
.photopic {
  /* Vector */
  position: center;
  width: 802.9px;
  height: 500px;
  left: 399px;
  right: -399px;
  top: 165.28%;
  bottom: -142.09%;
}
.midnight {
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 1320px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}
.midnight-content h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin-top: 126px;
  margin-left: 126px;
  margin-bottom: 24px;
  width: 642px;
  height: 176px;
}
.midnight-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 126px;
  margin-right: 39px;
  margin-bottom: 48px;

  position: center;
  width: 697px;
  height: 60px;
}
.midnight-content h5 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 601px;
  margin-left: 158px;
  width: 103px;
  height: 24px;
}
.midnight-content {
  display: flex;
  justify-content: space-between;
}

.midnightimage {
  width: 349.16px;
  height: 464.65px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.listbtm {
  /* Vector */
  width: 1320px;
  height: 482px;
  left: 10.61%;
  right: -10.61%;
  top: 501.24%;
  bottom: -501.24%;
  border-radius: 16px;

  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  margin-bottom: 120px;
}
.listp {
  width: 549px;
  height: 168px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.btn {
  padding: 16px 32px 16px 32px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  border-radius: 8px;

  background: rgb(255, 0, 0);
  border: none;
}
.btncontent {
  text-align: center;
  margin-top: 48px;
}
.offer {
  width: 1320px;
  height: 463px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 140px auto;
  margin-top: 120px;
}
.offer-contain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-tittles h6 {
  width: 207px;
  height: 29px;

  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 104px;
}
.offer-tittles h3 {
  width: 328px;
  height: 60px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.offer-tittles p {
  width: 393px;
  height: 128px;

  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.offer-img {
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  width: 463px;
  height: 463px;
  border-radius: 50%;
  padding: 49px;
}
.offer-img img {
  width: 100%;
  height: 100%;
}

.offer-end h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 149.67px;
  margin-top: 112px;
}
.offer-end p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;

  width: 276px;
  height: 96px;
  padding-left: 140px;
  margin-top: 16px;
}
.offer-end img {
  width: 140px;
  height: 140px;
  margin-top: 43px;
  margin-bottom: 2px;
  padding-left: 136px;
}
.sale {
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  /* margin-left: 266px;
margin-right: 266px; */
  display: flex;
  text-align: center;
}

.sale-content {
  width: 1068px;
  height: 260px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.sale-content h6 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  width: 263px;
  height: 29px;
  margin-left: 402px;
  margin-top: 120px;
}
.sale-content h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  width: 677px;
  height: 91px;
  margin-left: 195px;
  margin-top: 16px;
}
.sale-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  width: 1068px;
  height: 96px;
  margin-top: 28px;
}
.fifty {
  width: 1320px;
  height: 662.07px;
  align-items: center;
  justify-content: center;
  margin: 140px auto;
  margin-top: 64px;
}
.fifty-content {
  display: flex;
  background-image: url("../images/Rectangle\ 2.png");
  width: 1320px;
  background-position: bottom, center;
  background-repeat: no-repeat;
  border-radius: 16px 0px 16px 16px;
  background-size: contain;
  padding-left: 0;
  padding-right: 0;
}

.box {
  width: 674.82px;
  height: 577.96px;
  margin-top: 64px;
}
.boximage {
  width: 674.82px;
  height: 577.96px;
  padding-left: 60px;
  padding-bottom: 84px;
  padding-right: 60px;
}

.discount {
  width: 305.69px;
  height: 305.69px;

  margin-right: 40.77px;
  margin-bottom: 50px;
  margin-top: 70px;
  margin-left: 177px;
}
.gridline {
  
  display: flex;
  
}
.gridline-contents {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.gridline-contents h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  width: 192px;
  /* height: 29px; */
  padding: 0px auto;
  margin-bottom: 16px;
}
.gridline-contents h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  width: 566px;
  /* height: 60px; */
  margin-bottom: 22px;
}
.gridline-contents p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 896px;
  /* height: 64px; */
  margin-bottom: 48px;
}
.imagegrids {
  /* height: 450px; */
  border-radius: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 24px; /* Adds space between images */
}
/* form section */
.form-content {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
height: 616px;
text-align: center;
margin: 120px auto;
}
.form-content img{
width: 150px;
height: 150px;
padding-top:  60px;
}
.form-content h1{
  color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
padding-top: 40px

}
.form-content p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
padding: 22px 212px 48px;
}
.inputbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  
}
.form-content input{
  border-radius: 50px 0 0 50px;
  background: rgb(255, 255, 255);  
  width: 580px;
  height: 72px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: none;
}
.form-content button{
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);

  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
padding: 24px 56px;
border: none;

}